{% extends 'base.html' %}


{% block title %}Portland Trails{% endblock %}


{% block body %}
  <img src="images/logo.png" width="20%" height="25%" style="display:block; margin: 0 auto 0 auto">

  <section class="ftco-section">
		<div class="container">
      <h2 class="heading-section">Create an Account</h2>
      <form action="/sign_up" style="text-align:center" class="signup-form" method="POST">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Username" name="username" required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Email" name="email" required>
        </div>
        <div class="form-group">
          <input id="password-field" type="password" class="form-control" placeholder="Password" name="password" required>
          <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
        </div>
        <div class="form-group">
          <button type="submit" style="width: 18%" class="form-control btn btn-primary submit px-3">Sign Up</button>
        </div>
      </form>
      <h2 class="heading-section">Log In</h2>
      <form action="/login" style="text-align:center" class="signin-form" method="POST">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Email" name="email" required>
        </div>
        <div class="form-group">
          <input id="password-field" type="password" class="form-control" placeholder="Password" name="password" required>
          <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
        </div>
        <div class="form-group">
          <button type="submit" style="width: 18%" class="form-control btn btn-primary submit px-3">Sign In</button>
        </div>
      </form>
    </div>
  </section>

  <script>
    "use strict";


    var fullHeight = function() {

      $('.js-fullheight').css('height', $(window).height());
      $(window).resize(function(){
        $('.js-fullheight').css('height', $(window).height());
      });

    };
    fullHeight();
  </script>


{% endblock %}