{% extends "base.html" %}

{% block title %}Portland Trails{% endblock %}

{% block body %}
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>

<div class="title">
    <img src="images/logo.png" width="15%" height="25%" style="display:block; margin: 0 auto 0 auto">
    
    <div class="logoutButton">
        <form action="/logout">
            <input type="submit" class="form-control btn btn-primary submit px-3" style="width: 95%;" value="Logout" id="logout"/>
        </form>
    </div>

    <!-- Filter Menu -->

    <div style="width: 100%; height: 45px; display:block; padding-bottom: 0px;">
        <!-- Trail Dropdown -->
        <label for="trail">Trail Name:</label>
        <select name="filter" class="col-1" id="Top_Trail_Name">
            <option value="select">Select</option>
        </select>

        <!-- Difficulty Dropdown -->
        <label for="difficulty">Difficulty:</label>
            <select name="filter" class="col-1" id="Difficulty">
                <option value="easy">Select</option>
                <option value="easy">Easy</option>
                <option value="moderate">Moderate</option>
                <option value="hard">Hard</option>
        </select> 

        <!-- Length Dropdown -->
        <label for="length">Length:</label>
        <input type="range" min="1" max="3000" value="1500" class="slider col-1" name="filter" id="Length">
        
        

        <!-- Elevation Bar -->
        <label for="elevation">Elevation:</label>
        <input type="range" min="1" max="5000" value="5000" class="slider col-1" name="filter" id="Elevation">

        <!-- Time Bar -->
        <label for="time" id="TimeLabel">Time:</label>
        <input type="range" min="1" max="10" value="10" class="slider col-1" name="filter" id="Time">

        <!-- Route Type Dropdown -->
        <label for="route type">Route Type:</label>
        <select name="filter" class="col-1"id="RouteType">
            <option value="loop">Select</option>
            <option value="loop">Loop</option>
            <option value="o">Out and Back</option>
            <option value="point_to_point">Point to Point</option>
        </select> 
    </div>
</div>

<!-- Trail Map -->
<div id="map">My Map<img src="http://maps.gstatic.com/mapfiles/arrow-down.png" class="dropDownArrow"></div>

<!-- Trail Review Section -->

<h5 class="title" style = "padding-top: 8px;">Submit Review</h5>
<form style="text-align:center; width: 85%; margin-left: auto; margin-right: auto;" action="/review" method="POST">
    <div class="form-group">
        <select placeholder="Select Trail Name" class="form-control" name="filter" id="Bottom_Trail_Name">
            <option value="select">Select Trail</option>
        </select>
    </div>
    <div class="form-group">
      <input placeholder="Trail Review" class="form-control" type="text" name="comment">
    </div>
    <div class="score">
        <input type="radio" id="star5" name="rate" value="five" />
        <label for="star5" title="text">5 stars</label>
        <input type="radio" id="star4" name="rate" value="four" />
        <label for="star4" title="text">4 stars</label>
        <input type="radio" id="star3" name="rate" value="three" />
        <label for="star3" title="text">3 stars</label>
        <input type="radio" id="star2" name="rate" value="two" />
        <label for="star2" title="text">2 stars</label>
        <input type="radio" id="star1" name="rate" value="one" />
        <label for="star1" title="text">1 star</label>
      </div>
    <div class="form-group">
        <button type="submit" class="form-control btn btn-primary submit px-3" style="width: 20%;">Submit Review</button>
    </div>
</form>



<style type="text/css">
  /* Set the size of the div element that contains the map */
  #map {
    width: 90%;
    height: 65%;
    margin-left: auto;
    margin-right: auto;
}

.logoutButton{
    position:absolute;
    top:0;
    right:0;
    padding-right: 10px;
    padding-top: 10px;
}

*{
    margin: 0;
    padding: 0;
}
.score {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.score:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.score:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.score:not(:checked) > label:before {
    content: '★ ';
}
.score > input:checked ~ label {
    color: #08c5a6;   
}
.score:not(:checked) > label:hover,
.score:not(:checked) > label:hover ~ label {
    color: #08c5a6; 
}
.score > input:checked + label:hover,
.score > input:checked + label:hover ~ label,
.score > input:checked ~ label:hover,
.score > input:checked ~ label:hover ~ label,
.score > label:hover ~ input:checked ~ label {
    color: #254d46;
}


</style>

<script>

    "use strict";

    const trailslist = {{ trailslist|tojson }};

    let markers = [];

    let lastinfowindow;

    let map;

    $('input[name=filter]').change(function (e) {
        filterTrails(this.id);
    });

    $('select[name=filter]').change(function (e) {
        filterTrails(this.id);
    });

    // Initialize and add the map
    function initMap() {

        // The location of Uluru
        const portland = {"lat": 45.5400, "lng": -122.4336 };
        // The map, centered at uluru
        map = new google.maps.Map(document.getElementById("map"), {
                zoom: 11,
                center: portland,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                mapTypeControl: true,
                mapTypeControlOptions: {
                    style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
                }
            });
   

        for (let i=0; i < trailslist.length; i++) {
            let marker = createMarker(trailslist[i]);

            markers.push(marker);
        }

        //dropdown filter for trail name
        let topTrailDropdown = document.getElementById("Top_Trail_Name");
        let bottomTrailDropdown = document.getElementById("Bottom_Trail_Name");
        let innerHtml = '<option value="select">Select Trail Name</option>'
        for (let trail of trailslist) {
            innerHtml += "<option value=" + trail.id + ">" + trail.name + "</option>";
        }
        topTrailDropdown.innerHTML = innerHtml;
        bottomTrailDropdown.innerHTML = innerHtml;

        //paint markers to map
        
        addTrailMarkers();

    }

    function getInfo(trail) {
        const contentString =
            `<div id="trailInfo"> 
            <ul style="list-style-type:none">
                <li><b>Trail Name: ${trail.name}</b>  </li>
                <li><b>Difficulty:  ${trail.dif}</b></li>
                <li><b>Length:  ${trail.len} mi</b></li>
                <li><b>Time:  ${trail.tim} h</b></li>
                <li><b>Description:  ${trail.des}</b></li>
            </ul>
            </div>`

        const infowindow = new google.maps.InfoWindow({
            content: contentString,
        });

        return(infowindow);
    }

    function filterTrails(id) {
        //grab every filter element
        deleteTrailMarkers();
        const difficultyValue = document.getElementById("Difficulty").value;
        const lengthValue = document.getElementById("Length").value;
        const elevationValue = document.getElementById("Elevation").value;
        const timeValue = document.getElementById("Time").value;
        const routetypeValue = document.getElementById("RouteType").value;
        
        //iterate over every trail
        for(let i=0; i < trailslist.length; i++){ 
            //if a trail matches our filters add to markers  
            if(trailslist[i].dif === difficultyValue && routetypeValue === trailslist[i].routetype && lengthValue >= trailslist[i].len && elevationValue >= trailslist[i].elv && timeValue >= trailslist[i].tim){
                markers.push(createMarker(trailslist[i]));
            }
        }
        //paint markers to map
        addTrailMarkers();
        const changedElement = document.getElementById(id);
    };

    //function to delete all markers
    function deleteTrailMarkers(){
        for(let i=0; i < markers.length; i++){
            markers[i].setMap(null);
        }
        markers = [];
    }
    //function to add selected markers to the map after
    function addTrailMarkers(){
        for(let i=0; i < markers.length; i++){
            markers[i].setMap(map);
        }
    }
    

    function createMarker(trail){
        let position = new google.maps.LatLng(trail.lat, trail.long);

        let infowindow = getInfo(trail);

        let marker = new google.maps.Marker({
            position: position,
            title: trail.name,
        });

        marker.addListener("click", async () => {

            if(lastinfowindow) lastinfowindow.close();

            let reviewsString = infowindow.content;

            let response = await fetch(`/reviews/${trail.id}`);
            response = JSON.parse(await response.text());

            reviewsString = reviewsString.concat('<div style="height:120px;width:400;border:1px;"list-style-type:none">"><ul>');

            for(let review of response) {
                reviewsString = reviewsString.concat(`<li><p> Username: ${review.username}</p><p>Review: ${review.comment}</p><p>Score: ${review.score}</p></li>`);
            }
            reviewsString = reviewsString.concat('</ul></div>');

            infowindow.setContent(reviewsString);

            infowindow.open({
                anchor: marker,
                map,
                shouldFocus: false,
            })
    
            lastinfowindow = infowindow;
        });

        return marker;
    }

    var fullHeight = function() {

        $('.js-fullheight').css('height', $(window).height());
        $(window).resize(function(){
            $('.js-fullheight').css('height', $(window).height());
        });

    };
    fullHeight();

    $('#Length').slider();

</script>


<script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap&libraries=&v=weekly" async></script>
{% endblock %}
