{% extends "base.html" %}
{% block title %}Portland Trails{% endblock %}
{% block head %}

<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>

<h3>Portland Trails</h3>
<!--The div element for the map -->

<label for="trail">Trail Name:</label>
<select name="filter" id="Trail Name">
    <option value="select">Select</option>
</select>

<label for="difficulty">Difficulty:</label>
<select name="filter" id="Difficulty">
    <option value="easy">Select</option>
    <option value="easy">Easy</option>
    <option value="moderate">Moderate</option>
    <option value="hard">Hard</option>
</select> 

<label for="length">Length:</label>
<input type="range" min="1" max="30" value="15" class="slider" name="filter" id="Length">
</div>

<label for="elevation">Elevation:</label>
<input type="range" min="1" max="5000" value="15" class="slider" name="filter" id="Elevation">
</div>

<label for="time">Time:</label>
<input type="range" min="1" max="10" value="5" class="slider" name="filter" id="Time">
</div>

<label for="route type">Route Type:</label>
<select name="filter" id="RouteType">
    <option value="loop">Select</option>
    <option value="loop">Loop</option>
    <option value="o">Out and Back</option>
    <option value="point_to_point">Point to Point</option>
</select> 

<div id="map">
    <div class="dropDownControl" id="My Box">My Box<img src="http://maps.gstatic.com/mapfiles/arrow-down.png" class="dropDownArrow"></div>
    
</div>


<style type="text/css">
  /* Set the size of the div element that contains the map */
  #map {
    width: 100%;
    height: 500px;
}

.container-fluid {
	height: auto;
	background-color: #6ed3cf;
    padding: 5px 0px 5px 5px;
}

.footer {
    height: auto;
    bottom: 0;
    background-color: #6ed3cf;
}

.navbar-brand {
    height: 14px;
    color: #815DAB;
    font-size: 35px;
    size: 180%;
}


.navbar-brand-footer {
    font-size: 26px;
}

.container {
    width: 90%;
    margin-bottom: 10px;

}

html { 
	height: 100%;
	background-color: #7bce79;
}

body {
	height: 100%; 
	margin: 0px; 
	padding: 0px; 
	font-family:"arial", helvetica; 
	color:#000000; 
}

</style>

<script>

    "use strict";
    const trailslist = {{ trailslist|tojson }};

    let markers = [];

    let map;

    $('input[name=filter]').change(function (e) {
        filterTrails(this.id);
    });

    $('select[name=filter]').change(function (e) {
        filterTrails(this.id);
    });


    // Initialize and add the map
    function initMap() {

        // The location of Uluru
        const portland = {"lat": 45.5400, "lng": -122.4336 };
        // The map, centered at uluru
        map = new google.maps.Map(document.getElementById("map"), {
                zoom: 11,
                center: portland,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                mapTypeControl: true,
                mapTypeControlOptions: {
                    style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
                }
            });

        for (let i=0; i < trailslist.length; i++) {
            let marker = createMarker(trailslist[i]);

            markers.push(marker);
        }

        //dropdown filter for trail name
        let trailDropdown = document.getElementById("Trail Name");
        let innerHtml = '<option value="select">Select</option>'
        for (let trail of trailslist) {
            innerHtml += "<option value=" + trail.name + ">" + trail.name + "</option>";
        }
        trailDropdown.innerHTML = innerHtml; 

        //paint markers to map
        
        addTrailMarkers();

    }

    function getInfo(trail) {
        const contentString =
            `<div id="trailInfo"> 
            <ul style="list-style-type:none">
                <li><b>Trail Name: ${trail.name}</b>  </li>
                <li><b>Difficulty:  ${trail.dif}</b></li>
                <li><b>Length:  ${trail.len} mi</b></li>
                <li><b>Time:  ${trail.tim} h</b></li>
                <li><b>Description:  ${trail.des}</b></li>
            </ul>
            </div>`
        const infowindow = new google.maps.InfoWindow({
            content: contentString,
        });

        return(infowindow);
    }

    function filterTrails(id) {
        //grab every filter element
        deleteTrailMarkers();
        const difficultyValue = document.getElementById("Difficulty").value;
        const lengthValue = document.getElementById("Length").value;
        const elevationValue = document.getElementById("Elevation").value;
        const timeValue = document.getElementById("Time").value;
        const routetypeValue = document.getElementById("RouteType").value;
        
        //iterate over every trail
        for(let i=0; i < trailslist.length; i++){ 
            //if a trail matches our filters add to markers  
            if(trailslist[i].dif === difficultyValue && routetypeValue === trailslist[i].routetype && lengthValue >= trailslist[i].len && elevationValue >= trailslist[i].elv && timeValue >= trailslist[i].tim){
                markers.push(createMarker(trailslist[i]));
            }
        }
        //paint markers to map
        addTrailMarkers();
        const changedElement = document.getElementById(id);
    };

    //function to delete all markers
    function deleteTrailMarkers(){
        for(let i=0; i < markers.length; i++){
            markers[i].setMap(null);
        }
        markers = [];
    }
    //function to add selected markers to the map after
    function addTrailMarkers(){
        for(let i=0; i < markers.length; i++){
            markers[i].setMap(map);
        }
    }

    function createMarker(trail){
        let position = new google.maps.LatLng(trail.lat, trail.long);

        let infowindow = getInfo(trail);

        let marker = new google.maps.Marker({
            position: position,
            title: trail.name,
        });

        marker.addListener("click", () => {
            infowindow.open({
            anchor: marker,
            map,
            shouldFocus: false,
        })});

        return marker;
    }

</script>


<script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap&libraries=&v=weekly" async></script>
{% endblock %}
